// <footer id="footer">
// <div class="container">
//     <div class="list-container">
//         <div class="li">
//             <strong>서비스 이용</strong>
//             <div>FAQ</div>
//             <div>새소식</div>
//             <div>1:1문의</div>
//         </div>
//         <div class="li">
//             <strong>서비스 정책</strong>
//             <div>서비스 이용약관</div>
//             <div>개인정보 보호정책</div>
//         </div>
//         <div class="li">
//             <strong>제휴</strong>
//             <div>제휴 제안</div>
//         </div>
//         <div class="li">
//             <strong>기업정보</strong>
//             <div>주식회사 런치팩</div>
//             <div>광주광역시 동구 서남로 14 410호</div>
//             <div>이메일 : support@launchpack.co.kr</div>
//             <div>전화 : 1544-9247</div>
//             <div>사업자등록번호 : 694-87-01163</div>
//             <div>통신판매업신고 : 제 2018-광주동구-0192 호</div>
//             <div>대표자 : 염민지 | 개인정보책임자 : 이남호</div>
//         </div>
//     </div>
// </div>
// </footer>
#footer{
    background-color: #292C32;
    color:#ffffff;
}

#footer .container{
    height:300px;
    padding: 40px 0;
}

#footer .list-container{
    width:100%;
}

#footer .list-container > .li{
    width: calc(1080px/4);
    height: 300px;
    padding:5px 0;
    font-size:13px;
    color:#ffffff;
}

#footer .list-container > .li strong{
    display:block;
    margin-bottom:20px;
    font-size:15px;
    color:#a0a0a0;
}