
body{
    padding-top:70px;
    font-family:'Noto Sans Korean',sans-serif;
    font-size:15px;
}
.blind{
    display:block;
    position:absolute;
    left:0;
    top:-9999em;
    overflow:hidden;
}
.clearfix{
    *zoom:1
}
.clearfix:after{
    content:'';
    display:block;
    clear:both;
}

/* style */
#header{
    position:fixed;
    top:0;
    z-index:30;
    width:100%;
    background-color:#393E46;
}
#header .header-container{
    position:relative;
    width:1080px;
    height:70px;
    margin:0 auto;
}
#header .header-container .logo{
    position:absolute;
    transform:translateY(50%);
    width:145px;
}
#header .header-container img{
    width:100%;
}
#header .header-container .gnb{
    position:absolute;
    right:0;
    width:580px;
}
#header .header-container .gnb li{
    float:left;
    width:100px;
    height:70px;
    line-height:70px;
    text-align:center;
    color:#c3c4c7;
}
#header .header-container .gnb li:hover{
    color:#ffffff;
    cursor:pointer;
}
#header .header-container .gnb li:focus,
#header .header-container .gnb li:active,
#header .header-container .gnb li.active{
    font-weight:bold;
    color:#ffffff;
}
.visual{
    width:100%;
    border-bottom: 1px solid #f7f7f7;
    overflow: hidden;
}
.visual .pic{
    background-image: url(https://launchpack.co.kr/static/img/img_banner_beta.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    height:250px;
}
#container{
    background-color: #f7f7f7;
}
#container nav{
    position:relative;
    width:1080px;
    height:50px;
    margin:0 auto;
    background-color: #ffffff;
}
#container nav ul{
    position: absolute;
    width:100%;
}
#container nav ul li{
    float:left;
    padding:0 10px 3px 10px;
    width:auto;
    height:47px;
    line-height:50px;
    color:#606060;
}
#container nav ul li:hover{
    font-weight:bold;
    cursor:pointer;
}
#container nav ul li:active,
#container nav ul li:focus{
    height:47px;
    padding:0 10px;
    font-weight:bold;
    color:#000000;
    border-bottom:3px solid #FF6600;
}
#container nav ul li.active{
    height:47px;
    padding:0 10px;
    font-weight:bold;
    color:#000000;
    border-bottom:3px solid #FF6600;
}
#container .theme-section{
    width:1080px;
    margin:0 auto;
    background-color: #f7f7f7;
}
#container .theme-section .theme-title{
    padding:40px 10px 10px;
    font-size:2em;
    color:#4A4A4A;
}
#container .theme-section .theme-title p{
    margin-top:10px;
    font-size:0.5em;
}
#container .theme-section .theme-list{
    padding:10px 0;
}
#container .theme-section .theme-list li{
    float:left;
    width:calc(100%/3);
}
#container .theme-section .theme-list li .theme-card{
    margin:10px 10px;
    height:430px;
    border-radius: 10px;
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2  );
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
}
#container .theme-section .theme-list li .theme-card .thumb{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    height:193px;
}
#container .theme-section .theme-list li .theme-card .thumb .bg{
    opacity: .3;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #000;
}
#container .theme-section .theme-list li .theme-card .thumb span{
    position: absolute;
    bottom:0;
    left:0;
    padding: 2px;
    background-color: #ffffff;
    text-align: center;
    line-height: 32px;
    height:30px;
    width:100px;
    border-radius: 0 5px 0 0;
    font-size:0.9em;
    color:#0EAD9D;
}
li .theme-card .theme-desc{
    padding:20px 18px;
    height:195px;
}
li .theme-card .theme-desc .left{
    float:left;
    width:80%;
    font-size:18px;
    font-weight:bold;
}
li .theme-card .theme-desc .left p{
    margin:15px 0;
    font-size:12px;
    font-weight:normal;
    color:#A0A0A0;
}
li .theme-card .theme-desc .right{
    float:right;
    margin-top:3px;
    width:20%;
    text-align: center;
    font-size:12px;
    color:#A0A0A0;
}
li .theme-card .theme-desc > p:nth-child(2){
    font-size:14px;
    line-height: 1.6em;
    color:#A0A0A0;
}
li .theme-card .theme-desc .theme-card-bottom{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:10px;
}
li .theme-card .theme-desc .theme-card-bottom p{
    height:30px;
    line-height:30px;
    font-weight:bold;
    font-size:18px;
    color:#4A4A4A;
}
li .theme-card .theme-desc .theme-card-bottom p span{
    font-size:15px;
    font-weight:normal;
}
li .theme-card .theme-desc .theme-card-bottom button{
    height:30px;
    border:none;
    border-radius: 3px;
    background-color: #FF6600;
    color:#ffffff;
    cursor: pointer;
}
.aside{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}
.aside .aside-left{
    margin-left:100px;
    width: 50%;
}
.aside .aside-left h2{
    padding: 40px 0 40px 0;
    font-size: 24px;
    color:#4A4A4A;
}
.aside .aside-left p{
    line-height: 2em;
    font-size: 12px;
    color:#A0A0A0;
}
.aside .aside-left button{
    margin-top:40px;
    width:160px;
    height:50px;
    font-size:15px;
    background-color:#FF6600;
    color:#ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.aside .aside-img{
    background-image: url(https://launchpack.co.kr/static/img/theme-banner.0780f8e.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    width:50%;
    height:300px;
}
footer{
    background-color: #292C32;
    color:#ffffff;
}
footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:1080px;
    height:300px;
    margin:0 auto;
    padding: 40px 0;
}
footer .container > div strong{
    display:block;
    margin-bottom:20px;
    font-size:15px;
    color:#a0a0a0;
}
footer .container > div > div{
    padding:5px 0;
    font-size:13px;
    color:#ffffff;
}